<%- include('header.ejs') %>
<ul class="repos">
  <% repos.forEach(function(repo) { %>
  <li class="repo">
    <h2><a href="<%=repo.url%>" class="repo-title"><%=repo.name%></a></h2>
    <p class="repo-description"><%=repo.description%></p>
  </li>
  <% })%>
</ul>
<%- include('footer.ejs') %>
